<footer>
  <p>&copy; {{ 'now' | date: "%Y" }} | <i class="em em-cookie" aria-role="presentation" aria-label="Cookie"></i>
    {{site.title}}</p>
</footer>
<!-- scroll to top -->
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>

<ninja-keys noAutoLoadMdIcons class="dark"></ninja-keys>
<!-- Cmd + K -->
<script src="{{site.baseurl}}/assets/js/cmd-k.js"></script>
<!-- Codeblock -->
<script src="{{site.baseurl}}/assets/js/codeblock.js"></script>
<!-- Scroll -->
<script src="{{site.baseurl}}/assets/js/scroll.js"></script>
<!-- Confetti -->
<script src="{{site.baseurl}}/assets/js/js-confetti.browser.js"></script>
<!-- Cookie Clicker -->
<script src="{{site.baseurl}}/assets/js/confetti.js"></script>
<!-- Tooltips -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
  // check if macos or not
  if (navigator.platform.toUpperCase().indexOf('MAC') >= 0) {
    tippy('#search-btn', {
      content: 'Cmd + K',
      placement: 'right',
    });
  } else {
    tippy('#search-btn', {
      content: 'Ctrl + K',
      placement: 'right',
    });
  }

  // bio tooltips
  tippy('#twitter-bio-btn', {
    content: 'Twitter',
    placement: 'bottom',
  });

  tippy('#github-bio-btn', {
    content: 'GitHub',
    placement: 'bottom',
  });

  tippy('#linkedin-bio-btn', {
    content: 'LinkedIn',
    placement: 'bottom',
  });
</script>