<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if page.layout == "post" %}
  <title>{{page.title}} | {{site.title}}</title>
  {% else %}
  <title>{{site.title}}</title>
  {% endif %}
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <!-- Primary Meta Tags -->
  {% if page.layout == "post" %}
  <meta name="title" content="{{page.title}} | {{site.title}}">
  {% else %}
  <meta name="title" content="{{site.title}}">
  {% endif %}
  <meta name="description" content="{{page.title}} | {{site.title}}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  {% if page.layout == "post" %}
  <meta property="og:url" content="{{site.url}}/{{page.url}}">
  {% else %}
  <meta property="og:url" content="{{site.url}}/">
  {% endif %}
  <meta property="og:title" content="{{page.title}} | {{site.title}}">
  <meta property="og:description" content="{{site.title}}">
  {% if page.layout == "post" %}
  {% if page.image %}
  <meta property="og:image" content="{{page.image}}">
  {% else %}
  <meta property="og:image" content="{{site.url}}/assets/default-blog-post.png">
  {% endif %}
  {% else %}
  <meta property="og:image" content="{{site.url}}/assets/ademkouki.tech.png">
  {% endif %}

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  {% if page.layout == "post" %}
  <meta property="twitter:url" content="{{site.url}}/{{page.url}}">
  {% else %}
  <meta property="twitter:url" content="{{site.url}}/">
  {% endif %}
  <meta property="twitter:title" content="{{site.title}} | {{page.title}}">
  <meta property="twitter:description" content="{{site.title}}">
  {% if page.layout == "post" %}{% if page.image %}
  <meta property="twitter:image" content="{{page.image}}">
  {% else %}
  <meta property="twitter:image" content="{{site.url}}/assets/default-blog-post.png">
  {% endif %}
  {% else %}
  <meta property="twitter:image" content="{{site.url}}/assets/ademkouki.tech.png">
  {% endif %}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XE03XBH6YV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-XE03XBH6YV');
  </script>

  {% if page.layout == "post" %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css" />
  {% elsif page.layout == "notfound" %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css" />
  {% else %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/blog.css" />
  {%endif%}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/common.css" />
  <script src="{{site.baseurl}}/assets/js/categories.js"></script>
  {% if page.layout == "post" %}
  <script defer src="{{site.baseurl}}/assets/js/lbox.js"></script>
  {% endif %}
  <script type="module" src="https://unpkg.com/ninja-keys?module"></script>
</head>